Library
Temp
Obj
Build
Builds
Logs

Assets/**/*.meta
Assets/AssetStoreTools*
Aassets/TextMesh*Pro/

.vs
.editorconfig

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
 
*.apk
*.unitypackage
 
crashlytics-build.properties